
<form id="calculator-input" enctype="multipart/form-data">
  <!-- Temporarily commented while we figure out the UI, keep the input element so that gmaps can move it on to the map -->
  <!-- <div id="location-inputs" class="form-group">
    <label class="input-group">Location</label> -->
    <!-- <div class="input-group"> -->
      <input id="places-input" class="" type="text" placeholder="Input place or address">
    <!-- </div>
  </div> -->
  <div id="reservoir-inputs" class="form-group">

    <div class="row">
      <div class="col-sm-4">
        <!-- Drainage flow into pond -->
        <label class="input-group">Drainage Flow into the Pond</label>
        <hr>
        <div class="row">

          <span id="uploadForm">
            <div class="col-xs-12">
              <div class="form-card-container">
                <div class="row">
                  <div class="col-xs-12 text-center label-card">
                    <h5>Drained Area
                      <span class="glyphicon glyphicon-question-sign" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Area from which drain flow will be captured in the pond"></span>
                    </h5>
                  </div>
                  <div class="col-xs-12 input-card">
                    <div class="input-container">
                      <div class="input-group">
                        <input type="number" step="any" class="form-control" value="160" name="drainedArea" placeholder="Enter Numeric Value" aria-describedby="basic-addon2">
                        <span class="input-group-addon" id="basic-addon2">acres</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xs-12 text-center">
              <br>
              <p>For drain flow, there are two options:</p>
            </div>

            <div class="col-xs-12">
              <div class="form-card-container">
                <div class="row">
                  <div class="col-xs-12 text-center label-card" style="padding-top: 10px;">
                    <input type="radio" name="flowOption" value="option1" checked style="float: left"/>
                    <p>Upload .csv file with daily values of date, precipitation, flow, evaporation
                      <span class="glyphicon glyphicon-question-sign" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Enter a comma separated file with the following six columns: Year, Month, Day, Drain flow (in), Precipitation (in), Evaporation (in). The Sizing Tool will use any range of dates that you provide and can start at any time of year, but full years are recommended."></span>
                    </p>
                  </div>
                  <div class="col-xs-12 input-card" style="margin-bottom: 0;">
                    <div class="input-group" id="file-div">
                      <label class="input-group-btn">
                        <span class="btn btn-primary">
                            Browse&hellip; <input type="file" id="userCSV" name="userCSV" style="display: none;">
                        </span>
                      </label>
                      <input type="text" class="form-control" readonly>
                    </div>
                  </div>
                  <div class="col-xs-12 label-card">
                      <hr class="divider"> <!--Jonah's OR divider brought back from the dead -->
                  </div>
                  <div class="col-xs-12 text-center label-card">
                    <input type="radio" name="flowOption" value="option2" style="float: left"/>
                    <p>Select a location and use 30-year model estimates
                      <span class="glyphicon glyphicon-question-sign" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="If this is selected, the map option appears."></span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </span>

        </div>
      </div> <!-- end drainage column -->

      <!-- Pond size and initial depth -->
      <div class="col-sm-4">
        <label class="input-group">Pond Size and Initial Depth</label>
        <hr>
        <div class="row">
          <!-- ejs template taking pondArray from util/input-text.js -->
          <% for(var i = 0; i < pondArray.length; i++) { %>
            <div class="col-xs-12">
              <div class="form-card-container">
                <div class="row">
                  <div class="col-xs-12 text-center label-card">
                    <h5> <%= pondArray[i].label %>
                      <% if (pondArray[i].tooltip) { %>
                        <span class="glyphicon glyphicon-question-sign" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="<%= pondArray[i].tooltip %>"></span>
                      <% } %>
                    <h5>
                  </div>
                  <div class="col-xs-12 input-card">
                    <div class="input-container">
                      <div class="input-group">
                        <input type="number" step="any" class="form-control" value= <%= pondArray[i].value %> name= <%= pondArray[i].name %> placeholder="Enter Numeric Value" aria-describedby="basic-addon2">
                        <span class="input-group-addon" id="basic-addon2"><%= pondArray[i].unit %></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% } %> <!-- end of template -->
        </div>
      </div><!-- end pond size column -->

      <!-- Irrigation -->
      <div class="col-sm-4">
        <label class="input-group">Irrigation</label>
        <hr>
        <div class="row">
          <!-- ejs template taking irrigationArray from util/input-text.js -->
          <% for(var i = 0; i < irrigationArray.length; i++) { %>
            <div class="col-xs-12">
              <div class="form-card-container">
              <div class="row">
                <div class="col-xs-12 text-center label-card">
                  <h5> <%= irrigationArray[i].label %>
                      <% if (irrigationArray[i].tooltip) { %>
                        <span class="glyphicon glyphicon-question-sign" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="<%= irrigationArray[i].tooltip %>"></span>
                      <% } %>
                  <h5>
                </div>
                <div class="col-xs-12 input-card">
                  <div class="input-container">
                    <div class="input-group">
                      <input type="number" step="any" class="form-control" value= <%= irrigationArray[i].value %> name= <%= irrigationArray[i].name %> placeholder="Enter Numeric Value" aria-describedby="basic-addon2">
                      <span class="input-group-addon" id="basic-addon2"><%= irrigationArray[i].unit %></span>
                    </div>
                  </div>
                </div>
              </div>
              </div>
            </div>
          <% } %>
        </div>
      </div> <!-- end irrigation column -->

    </div> <!-- end row -->
  </div> <!-- end form group -->

  <!-- Display form error -->
  <div id="form-error">
    <div id="error-content">
    </div>
  </div>

  <!-- Submit form -->
  <div id="submit">
    <button id='form-submit'type="submit" class="btn btn-block">Submit</button>
 </div>
</form>
